* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans";
}
.container {
  width: 90%;
  margin: auto;
}
.small_text {
  color: $color_small;
  font-size: 0.5rem;
}
.title {
  padding-top: 1rem;
  color: $color_title;
  font-weight: 700;
}
.p5 {
  padding: 5rem 0;
}
