* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans";
}
.container {
  width: 90%;
  margin: auto;
}
.small_text {
  color: $color_small;
  font-size: 0.5rem;
}
.title {
  padding-top: 1rem;
  color: $color_title;
  font-weight: 700;
}
.p5 {
  padding: 5rem 0;
}
.size_75 {
  font-size: 0.75rem;
}

.btn {
  background-color: #55328b;
  padding: 0.75rem 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  border: none;
  width: 135px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #fff;
}
.pr_6 {
  padding-right: 6rem;
}
.small_text_bg {
  font-size: 0.5rem;
  color: #ffffff91;
}
