$color_small: #8c8693;
/* $color_title: #614093; */
$bg_color_first: #f1f9fb;
$bg_color_second: #faf3e3;
$bg_color_sharing: #f7f0f2;
$color_primary: #55328b;
$new_font_theme: #3698db;
$color_chrevron: #55328b82;
